<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%! from django.utils.translation import gettext as _ %>
<%! from lms.djangoapps.courseware.courses import get_courses, sort_by_announcement, sort_by_start_date %>
<%
    def sort_courses(courses):
        # Filter out ended courses
        courses = [course for course in courses if not course.has_ended()]

        # Sort courses by start date in descending order (i.e., most recent first)
        courses.sort(key=lambda course: course.start, reverse=True)

        return courses
%>
<%
    sorted_courses = sort_courses(courses)
%>

% if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
<div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
            <div class="md:text-center">
                <p class="font-display text-3xl tracking-tight text-slate-900 sm:text-4xl">
                  <span class="relative whitespace-nowrap">
                    <span class="relative font-bold text-sky-900">${_("Featured Courses")}</span>
                  </span>
                </p>
                <p class="mt-4 text-2xl text-slate-700">
                </p>
              </div>
        </div>
      <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        %for course in sorted_courses[:homepage_course_max]:
            <%include file="course.html" args="course=course" />
        %endfor 
      </div>
    </div>
    % if homepage_course_max and len(courses) > homepage_course_max:
        <div class="flex justify-center mt-10">
            <a class="courses-more-cta button-primary bg-jescolor-900" href="${marketing_link('COURSES')}" style="color: #fff !important;"> ${_("More Courses")} </a>
        </div>
    % endif
</div>
% endif