## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import gettext as _
  from lms.djangoapps.branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<% icp_license_info = getattr(settings, 'ICP_LICENSE_INFO', {})%>
<%namespace name='static' file='static_content.html'/>
<% 
import datetime
year = datetime.datetime.now().year 
%>

<footer class="!bg-[#004f5d]">
  <div class="mx-auto max-w-7xl px-6 py-12 md:flex md:items-center md:justify-between lg:px-8">
    <div class="flex justify-center space-x-6 md:order-2">
      <a href="https://justiceeducation.ca/privacy-policy-terms-use#terms-of-use">
        <span class="footer-link">${_("Terms of Service")}</span>
      </a>
      <a href="https://justiceeducation.ca/privacy-policy-terms-use">
        <span class="footer-link">${_("Privacy Policy")}</span>
      </a>
    </div>
    <div class="mt-8 md:order-1 md:mt-0">
      <p class="text-center text-xl font-semibold leading-5 text-white">&copy; ${_("Copyright")} ${year} ${_("Justice Education Society of BC")}</p>
    </div>
  </div>
</footer>

<div class="bg-gray-900" style="direction: ltr;">
  <div class="
      max-w-7xl
      mx-auto
      py-12
      px-4
      sm:px-6
      md:flex md:items-center md:justify-between
      lg:px-8
    ">
    <div class="flex justify-center space-x-6 md:order-2">
      <a href="https://cubite.io" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">Cubite</span>
        <img class="h-16" src="https://cubite-assets.s3.fr-par.scw.cloud/website_logo_transparent_background.png" alt="cubite logo">
      </a>
  
      <a href="https://open.edx.org" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">Twitter</span>
        <img class="h-16" src="https://files.edx.org/openedx-logos/open-edx-logo-tag-dark.png" alt="openedx logo">
      </a>
    </div>
    <div class="mt-8 md:mt-0 md:order-1">
      <p class="text-center text-base text-gray-400">
        ${_("edX and Open edX are registered trademarks of edX LLC. All Rights Reserved.")}
      </p>
    </div>
  </div>
  </div>