<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import gettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="home">
      <%include file="index_overlay.html" />
      <%include file="${courses_list}" />   
    </section>
</main>

% if show_homepage_promo_video:
  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
      <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
% endif

<!-- About us section -->
<section class="isolate overflow-hidden !bg-[#eef2ff] px-6 lg:px-8">
  <div class="relative mx-auto max-w-2xl py-12 lg:max-w-4xl">
    <div class="absolute left-1/2 top-0 -z-10 h-[50rem] w-[90rem] -translate-x-1/2 bg-[radial-gradient(50%_100%_at_top,theme(colors.indigo.100),white)] opacity-20 lg:left-36"></div>
    <div class="absolute inset-y-0 right-1/2 -z-10 mr-12 w-[150vw] origin-bottom-left skew-x-[-30deg] about-us shadow-xl shadow-indigo-600/10 ring-1 ring-indigo-50 sm:mr-20 md:mr-0 lg:right-full lg:-mr-36 lg:origin-center"></div>
    <figure class="grid grid-cols-1 items-center gap-x-6 gap-y-8 lg:gap-x-10">
      <div class="relative col-span-2 lg:col-start-1 lg:row-start-2">
          <p class="text-xl leading-8 sm:text-xl sm:leading-9 pb-2 about-us-text text-[#004F5D]">${_("Internationally, JES has programs in Guatemala, El Salvador, Honduras, Panama and Guyana, working with national institutions to strengthen justice systems, improve citizen security and increase access to justice.")}</p>
          <p class="text-xl leading-8 sm:text-xl sm:leading-9 pb-2 about-us-text text-[#004F5D]">${_("For more information about JES, please visit")}: <a class="underline font-semibold text-[#004F5D]" href="https://www.JusticeEducation.ca">www.JusticeEducation.ca</a>
          </p>
        </div>
      <div class="col-end-1 w-16 lg:row-span-4 lg:w-72 h-full">
        <img class="rounded-xl bg-indigo-50 lg:rounded-3xl" src="/static/tailwind/images/about_jes.png" alt="">
      </div>
  </div>
</section>

<!-- Contact us section -->
<div class="contact-us">
  <div class="relative isolate">
    <div class="mx-auto max-w-7xl sm:px-6 lg:px-8 py-24">
      <div class="mx-auto flex flex-col md:flex-row max-w-2xl bg-white px-6 py-16 ring-1 ring-white sm:p-8 lg:mx-0 lg:max-w-none lg:items-start lg:py-20 xl:gap-x-20 xl:px-20 gap-y-16 md:gap-y-0">
        <div class="flex flex-col items-start md:w-2/5">
          <img class="w-64 mb-4" src="https://justiceeducation.ca/sites/default/files/inline-images/JES-Tagline_RGB.png" alt="">
          <p class="text-lg text-left font-bold text-[#004F5D] mb-4">${_("Justice Education Society")}</p>
          <a href="https://justiceeducation.ca/contact-us" class="text-[#004F5D] font-bold underline text-left">${_("Contact Us")}</a>
        </div>
        <div class="md:w-4/5 flex-auto">
          <h2 class="text-3xl font-bold tracking-tight text-[#004F5D] sm:text-4xl mb-6">${_("Connect With Us")}</h2>
          <p class="text-lg leading-8 text-[#004F5D] mb-6">${_("We value getting connected and staying connected with our global network. Follow us now—stay engaged with our latest news and find out what impacts we’re bringing into your community")}</p>
          <div class="flex space-x-4 justify-center">
            <a href="https://www.facebook.com/JusticeEducation" class="bg-[#6CA93D] text-white rounded-full py-2 px-4 hover:bg-[#004F5D]" target="_blank">
              <i class="icon fa fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/JusticeEd" class="bg-[#6CA93D] text-white rounded-full py-2 px-4 hover:bg-[#004F5D]" target="_blank">
              <i class="icon fa fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/justiceeducation/" class="bg-[#6CA93D] text-white rounded-full py-2 px-4 hover:bg-[#004F5D]" target="_blank">
              <i class="icon fa fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/company/justiceeducation" class="bg-[#6CA93D] text-white rounded-full py-2 px-4 hover:bg-[#004F5D]" target="_blank">
              <i class="icon fa fa-linkedin"></i>
            </a>
            <a href="https://www.youtube.com/user/JusticeEducationBC" class="bg-[#6CA93D] text-white rounded-full py-2 px-4 hover:bg-[#004F5D]" target="_blank">
              <i class="icon fa fa-youtube"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif