<%!
  from django.urls import reverse
  from django.utils.translation import gettext as _
%>

<div class="relative isolate overflow-hidden bg-gray-900" style="background-color: #0c3c59 !important;">
    <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
      <div class="mx-auto max-w-3xl text-center" style="
            width: 100%;
            height: 100%;
            background-color: rgb(17, 87, 127);
            border: 1px solid rgb(128, 211, 240);
            border-radius: 8px;
            padding: 3rem;
        ">
        <h1 class="mx-auto max-w-4xl font-display text-4xl font-medium tracking-tight text-white sm:text-6xl">
          Welcome to
          <span class="relative whitespace-nowrap text-lime-600">
            <span class="relative text-lime-500">JESed</span>
          </span>
        </h1>        
        <p class="mx-auto mt-6 max-w-xl text-2xl leading-8 text-gray-300">${_("Welcome to JESed")}</p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a href="/login" class="button-primary-dark text-lg">${_("Sign In)}</a>
          <a href="/courses" class="button-secondary-dark text-lg">${_("Courses")}</a>
        </div>
      </div>
    </div>
</div>