<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import gettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="home">
      <%include file="index_overlay.html" />
      <%include file="${courses_list}" />   
    </section>
</main>

% if show_homepage_promo_video:
  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
      <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
% endif

<!-- Contact us section -->
<div class="contact-us">
  <div class="relative isolate">
    <div class="mx-auto max-w-7xl sm:px-6 lg:px-8 py-24">
      <div class="mx-auto flex flex-col md:flex-row max-w-2xl bg-white px-6 py-16 ring-1 ring-white sm:p-8 lg:mx-0 lg:max-w-none lg:items-start lg:py-20 xl:gap-x-20 xl:px-20 gap-y-16 md:gap-y-0">
        <div class="flex flex-col items-start md:w-2/5">
          <img class="w-64 mb-4" src="/static/tailwind/images/logo.png" alt="">
          <a href="#" class="text-[#004F5D] font-bold underline text-left ml-4">${_("Contact Us")}</a>
        </div>
        <div class="md:w-4/5 flex-auto">
          <h2 class="text-3xl font-bold tracking-tight text-[#004F5D] sm:text-4xl mb-6">${_("Connect With Us")}</h2>
          <p class="text-lg leading-8 text-[#004F5D] mb-6">${_("We value getting connected and staying connected with our global network. Follow us now—stay engaged with our latest news and find out what impacts we’re bringing into your community")}</p>
          <div class="flex space-x-4 justify-center">
            <a href="#" class="bg-[#6CA93D] text-white rounded-full py-2 px-4 hover:bg-[#004F5D]">
              <i class="icon fa fa-facebook-f"></i>
            </a>
            <a href="#" class="bg-[#6CA93D] text-white rounded-full py-2 px-4 hover:bg-[#004F5D]">
              <i class="icon fa fa-twitter"></i>
            </a>
            <a href="#" class="bg-[#6CA93D] text-white rounded-full py-2 px-4 hover:bg-[#004F5D]">
              <i class="icon fa fa-instagram"></i>
            </a>
            <a href="#" class="bg-[#6CA93D] text-white rounded-full py-2 px-4 hover:bg-[#004F5D]">
              <i class="icon fa fa-linkedin"></i>
            </a>
            <a href="#" class="bg-[#6CA93D] text-white rounded-full py-2 px-4 hover:bg-[#004F5D]">
              <i class="icon fa fa-youtube"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif