.content-wrapper {
    margin: 0px !important;
    padding: 0px !important;
    max-width: 100% !important;
}

.custom-anchor {
    text-decoration: none !important;
}

a {
    text-decoration: none !important;
}

.global-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
}

#custom-course-about-section h2,
#custom-course-about-section h3,
#custom-course-about-section h4,
#custom-course-about-section h5,
#custom-course-about-section h6 {
    color: #f1f5f9 !important;
}

@font-face {
    font-family: 'BMitra';
    src: url('../fonts/mitra.ttf') format('truetype');
}

* {
    font-family: 'BMitra', sans-serif !important;
}

.fa,
.fa:before {
    font-family: 'FontAwesome' !important;
}

.accomplishment-rendering {
    background-image: url("/static/tailwind/images/certificate_background.jpeg");
    background-size: cover;
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
}